<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} | Diogo Coelho</title>
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{{ '/' | relative_url }}">Home</a></li>
          <li><a href="{{ '/bio' | relative_url }}">Bio</a></li>
          <li><a href="{{ '/projects' | relative_url }}">Projects</a></li>
          <li><a href="{{ '/blog' | relative_url }}">Blog/Researches</a></li>
          <li><a href="{{ '/certs' | relative_url }}">Certs</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      <p>&copy; 2024 Diogo Coelho</p>
    </footer>
  </body>
</html>

