<div class="projects-header">
  <h1>Projects</h1>
</div>

<div class="filters">
  <input type="text" id="searchBar" placeholder="Search for title...">
  <div class="tags">
    <span class="tag" onclick="toggleTag('Security')">Security</span>
    <span class="tag" onclick="toggleTag('Networking')">Networking</span>
    <span class="tag" onclick="toggleTag('ML')">ML</span>
    <span class="tag" onclick="toggleTag('Rust')">Rust</span>
    <span class="tag" onclick="toggleTag('Java')">Java</span>
    <span class="tag" onclick="toggleTag('Golang')">Golang</span>
    <span class="tag" onclick="toggleTag('Backend')">Backend</span>
    <span class="tag" onclick="toggleTag('Docker')">Docker</span>
  </div>
  <button class="clear-tags" onclick="clearTags()">Clear All Tags</button>
</div>

<div class="projects-list">
  {% assign sorted_projects = site.projects | sort: 'date' | reverse %}
  {% for project in sorted_projects %}
  <a href="{{ project.url }}" class="project-item" data-tags="{{ project.tags | join: ' ' }}">
    <img src="{{ project.image }}" alt="{{ project.title }} image">
    <div class="project-info">
      <h2>{{ project.title }}</h2>
      <p>{{ project.small_description }}</p>
      <div class="tags">
        {% for tag in project.tags %}
        <span class="tag">{{ tag }}</span>
        {% endfor %}
      </div>
    </div>
  </a>
  {% endfor %}
</div>

<script>
  let activeTags = [];

  function toggleTag(tag) {
    const tagIndex = activeTags.indexOf(tag);
    if (tagIndex > -1) {
      activeTags.splice(tagIndex, 1);
    } else {
      activeTags.push(tag);
    }
    updateTagDisplay();
    filterProjects();
  }

  function clearTags() {
    activeTags = [];
    updateTagDisplay();
    filterProjects();
  }

  function updateTagDisplay() {
    const tags = document.querySelectorAll('.tag');
    tags.forEach(tagElement => {
      if (activeTags.includes(tagElement.innerText)) {
        tagElement.classList.add('active');
      } else {
        tagElement.classList.remove('active');
      }
    });
  }

  function filterProjects() {
    const projects = document.querySelectorAll('.project-item');
    projects.forEach(project => {
      const projectTags = project.getAttribute('data-tags').split(' ');
      const matches = activeTags.every(tag => projectTags.includes(tag));
      project.style.display = matches ? 'flex' : 'none';
    });
  }

  document.getElementById('searchBar').addEventListener('input', function() {
    const query = this.value.toLowerCase();
    const projects = document.querySelectorAll('.project-item');
    projects.forEach(project => {
      const title = project.querySelector('h2').textContent.toLowerCase();
      if (title.includes(query)) {
        project.style.display = 'flex';
      } else {
        project.style.display = 'none';
      }
    });
  });
</script>

