<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | Diogo Coelho</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/files/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/files/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/files/images/favicon-16x16.png">
  <link rel="manifest" href="/files/images/site.webmanifest">
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="{{ '/assets/article.css' | relative_url }}">
</head>
<body>
  <header>
    <nav>
      <ul class="nav">
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/bio' | relative_url }}">Bio</a></li>
        <li><a href="{{ '/projects' | relative_url }}">Projects</a></li>
        <!--
        <li><a href="{{ '/articles' | relative_url }}">Articles</a></li>
        -->
        <li><a href="{{ '/certs' | relative_url }}">Certs</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="article-details">
      <h1>{{ page.title }}</h1>
      <p class="date">{{ page.date | date: "%B %d, %Y" }}</p>
      <div class="article-image">
          <img src="{{ page.bigger_image }}" alt="Article Image">
      </div>
      <div class="article-summary">
        <h2>Summary:</h2>
        <p>{{ page.excerpt }}</p>
      </div>
      <div class="article-key-takeaways">
        <h2>Key Takeaways:</h2>
        <ul>
          {% for takeaway in page.takeaways %}
          <li>{{ takeaway }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="article-target-audience">
        <h2>Is This for you?</h2>
        <p>{{ page.audience }}</p>
      </div>
      <div class="article-full-post">
        <h2>Read Full Article:</h2>
        <p><a href="{{ page.full_post_url }}" target="_blank">Link to Full Post</a></p>
      </div>
      <div class="article-tags">
        <h2>Tags:</h2>
        <div class="tags">
          {% for tag in page.tags %}
          <span class="tag">{{ tag }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
  </main>
  <footer>
      <div class="contact-section">
          <a href="https://www.linkedin.com/in/diogo-coelho-544139115/" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a>
          <a href="https://github.com/Co3lho22" target="_blank"><i class="fab fa-github"></i> GitHub</a>
          <a href="mailto:co3lho22@gmail.com"><i class="fas fa-envelope"></i> Email</a>
      </div>
      <p>&copy; 2024 Diogo Coelho</p>
  </footer>
</body>
</html>

